
<mat-toolbar color="primary" class="navbar">
  <br>
  <!--<img src="assets/favicon.ico" height="60px" width="60px" style="margin-right: -100px;">
  <span class="logo">Bienvenue</span>-->

  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/home" fragment="home">{{ 'Acceuil' | translate }}</a>
    <a mat-button routerLink="/home" fragment="about">{{ '\u00c0 propos' | translate }}</a>
    <a mat-button routerLink="/home" fragment="education">Formation</a>
    <a mat-button routerLink="/home" fragment="skills">{{ 'Comp\u00e9tences' | translate }}</a>
    <a mat-button routerLink="/home" fragment="experience">{{ 'Exp\u00e9rience' | translate }}</a>
    <a mat-button routerLink="/home" fragment="project">{{ 'Projet' | translate }}</a>
    <a mat-button routerLink="/home" fragment="contact">{{ 'Contact' | translate }}</a>
      <!--<a mat-button routerLink="/mes-cours" routerLinkActive="active-course">mes cours</a>-->
  </nav>

<!--
  <mat-button-toggle-group name="lang" (change)="switchLanguage($event.value)" appearance="legacy">
    <mat-button-toggle value="fr">FR</mat-button-toggle>
    <mat-button-toggle value="en">EN</mat-button-toggle>
  </mat-button-toggle-group>
-->
 <!--<button mat-icon-button (click)="toggleDarkMode()" aria-label="Toggle dark mode">
    <mat-icon>{{ darkMode ? 'dark_mode' : 'light_mode' }}</mat-icon>
  </button>--> 
</mat-toolbar>
