.navbar {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 64px;
  background: linear-gradient(to right, #5f2c82, #49a09d); // violet -> bleu
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-weight: 600;
  font-size: 1.4rem;
  margin-right: 16px;
}

.spacer {
  flex: 1 1 auto;
}

nav a {
  margin: 0 8px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: white;
  text-decoration: none;
}

.dark-theme nav a {
  color: white !important;
}