
<mat-toolbar color="primary" class="navbar">
  <br>
  <!--<img src="assets/favicon.ico" height="60px" width="60px" style="margin-right: -100px;">
  <span class="logo">Bienvenue</span>-->

  <span class="spacer"></span>
  <nav>
    <a mat-button href="#home">{{ 'Acceuil' | translate }}</a>
    <a mat-button href="#about">{{ '\u00c0 propos' | translate }}</a>
    <a mat-button href="#education">Formation</a>
    <a mat-button href="#skills">{{ 'Comp\u00e9tences' | translate }}</a>
    <a mat-button href="#experience">{{ 'Exp\u00e9rience' | translate }}</a>
    <a mat-button href="#project">{{ 'Projet' | translate }}</a>
    <a mat-button href="#contact">{{ 'Contact' | translate }}</a>
  </nav>
<!--
  <mat-button-toggle-group name="lang" (change)="switchLanguage($event.value)" appearance="legacy">
    <mat-button-toggle value="fr">FR</mat-button-toggle>
    <mat-button-toggle value="en">EN</mat-button-toggle>
  </mat-button-toggle-group>
-->
 <!--<button mat-icon-button (click)="toggleDarkMode()" aria-label="Toggle dark mode">
    <mat-icon>{{ darkMode ? 'dark_mode' : 'light_mode' }}</mat-icon>
  </button>--> 
</mat-toolbar>
