<app-navbar></app-navbar>

<main>
  <section id="home" class="section home-section">
    <div class="content">
      <img src="assets/profile.jpg" alt="Photo de profil" class="profile-pic">
      <h1>Ghailene BEN MARZOUK</h1>
      <h2 class="typing">6 ans d'expérience en tant que développeur Fullstack Java / Angular / Camunda</h2>
      <p>Bienvenue sur mon portfolio</p>

      <div class="social-icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
        <a href="https://github.com/ghailen/" target="_blank" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/ghailene-ben-marzouk-13201b78/" target="_blank" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://medium.com/@ghailenemark" target="_blank" aria-label="Medium"><i class="fa-brands fa-medium"></i></a>
      </div>
    </div>
  </section>

  <section id="about" class="section about-section fade-in">
    <div class="content">
      
      <h1 id="title">À propos de moi</h1>
      <h4 id="description">Je suis Ghailen Ben Marzouk, ingénieur en informatique avec plus de 6 ans d'expérience spécialisé en développement full-stack Java/Angular/Camunda. <br>Je travaille avec les technologies telles que Java, Spring et Angular pour concevoir des applications web performantes, évolutives et robustes. <br> Sensible aux bonnes pratiques DevOps, j’assure des déploiements fluides et une collaboration optimale. Curieux et passionné par l’innovation, je m’efforce en permanence de perfectionner mes compétences et de proposer des solutions efficaces, sécurisées et parfaitement adaptées aux besoins des utilisateurs.
      </h4>
      <div class="about-image">
        <img src="assets/icons/comp/info.png" alt="Illustration à propos de moi" />
      </div>
    </div>
  </section>

  
  <section id="education" class="section education-section fade-in">
    <div class="content" style="margin-bottom: 40%;">
      <h2 id="title">Formation</h2>
  
      <div class="education-item">
        <img src="assets/icons/formation/isamm.avif" alt="ISAMM" class="education-logo">
        <div class="education-info">
          <h3>Institut Supérieur des Arts Multimédia de la Manouba</h3>
          <p>Diplôme national d’ingénieur en sciences appliquées et technologie spécialité : informatique et multimédia</p>
        </div>
        <div class="education-date">2019</div>
      </div>
  
  
      <div class="education-item">
        <img src="assets/icons/formation/lycee.avif" alt="lycée mahmoud el messadi nabeul" class="education-logo">
        <div class="education-info">
          <h3>Lycée mahmoud el messadi nabeul</h3>
          <p>Baccalauréat Sciences Informatique</p>
        </div>
        <div class="education-date">2012–2013</div>
      </div>
    </div>
  </section>

  
<section id="experience" class="section experience-section code-editor fade-in">
  <div class="content">
    <h2 >Experiences</h2>
 

  <div class="code-row">
    <div class="code-block">
      <img src="assets/icons/bnp-paribas.jpg"  style="border-radius:10%" width="150px" height="150px" alt="Angular" class="icon-floating">
      <pre><code>
        export const experience4 = {{ '{' }}
          company: "BNP PARIS",
          title: "Ingénieur developpeur Java/Fullstack",
          description: "Manipuler un outil qui présente un gateway de message swift 
          pour des dizaines d applications back office CIB ."
          technologies: ["Java", "Spring", "Angular", "Oracle", "Maven", "Bitbucket",
           "Intellij", "JMS", "Weblogic", "Tomcat", "Apache",  "Springbatch","Jenkins", 
           "Ansible","Opensearch","Sonarqube", "Fortify", "Nexus IQ", "JIRA", "CyberArc", 
           "Myiam", "Ehcache3","TDD", "SCRUM", "Visual Studio","XML", "JSON", "Swagger"],
          duration: "Mai 2022 jusqu à présent"
        {{ '}' }};</code></pre>
    </div>
    <div class="code-block">
      <img src="assets/icons/protectline.jpg" style="border-radius:10%" width="150px" height="150px" alt="Java" class="icon-floating">
      <pre><code>
        export const experience3 = {{ '{' }}
          company: "Protectline",
          title: "Ingénieur developpeur Java/Fullstack",
          description: "CRM qui offre une vue 360° pour des clients dans le domaine de la télésurveillance."
          technologies: ["Java", "Spring boot", "Angular", "Mysql", "Maven", "Github", "Intellij", "Kafka", 
          "Camunda", "Sonarqube", "Opencell", "Jira", "Consul", "Vault", "Ehcache", "XML", "JSON", "Keycloak",
           "Zammad", "XSS", "Sonar", "TDD", "SCRUM."],
          duration: "Décembre 2019 à Mars 2022"
        {{ '}' }};</code></pre>
        
    </div>

  </div>
  <div class="code-row">
  
    <div class="code-block">
      <img src="assets/icons/sofrecom.png" style="border-radius:10%" width="150px" height="150px" alt="Docker" class="icon-floating">
      <pre><code>
        export const experience2 = {{ '{' }}
          company: "SOFRECOM TUNISIE",
          title: "Ingénieur developpeur Java/Fullstack",
          description: "SOFCT est une solution visant à automatiser complètement 
          l activité de mise en service et de vente  d orange."
          technologies: ["Java", "Angular", "oracle", "Framework play", "Maven", 
          "Github", "Swagger", "TDD", "SCRUM", "Sonar", "Bootstrap"],
          duration: "Juillet 2019 à Novembre 2019"
        {{ '}' }};</code></pre>
        
    </div>
    <div class="code-block">
      <img src="assets/icons/sofrecom.png" style="border-radius:10%" width="150px" height="150px"   alt="GitHub" class="icon-floating">
      <pre><code>
        export const experience1  = {{ '{' }}
          company: "SOFRECOM TUNISIE",
          title: "Stage ingénieur",
          description: "Construire une boîte à outils du Camunda qui comporte un
           ensemble de bibliothèques intégrables qui offre  à Camunda un aspect orienté aux utilisateurs"
          technologies: [ "Spring boot", "Java", "Angular", "Postgres", 
          "Camunda", "Json", "Wildfly","multithreading", "API", "Gitlab",
           "XML", "Sonar", "Bootstrap", "BPM",
            "CSS", "WebSocket", "PowerAMC", "UML", "TDD","SCRUM."],
          duration: "Février 2019 à Mai 2019"
        {{ '}' }};</code></pre>
        
    </div>
  </div> </div>
</section>


  
<section id="skills" class="section skills-section fade-in">
  <div class="content">
    <h2 id="title">Compétences</h2>
    <div class="skills-icons">
      <img src="assets/icons/comp/angular.svg" alt="angular.svg" class="skill-icon"/>
      <img src="assets/icons/comp/ansible.svg" alt="ansible.svg" class="skill-icon"/>
     <img src="assets/icons/comp/apache-original-wordmark.svg" alt="apache-original-wordmark.svg" class="skill-icon"/>
      <img src="assets/icons/comp/bitbucket.svg" alt="bitbucket.svg" class="skill-icon"/>
      <img src="assets/icons/comp/bootstrap-plain-wordmark.svg" alt="bootstrap-plain-wordmark.svg" class="skill-icon"/>
      <img src="assets/icons/comp/camunda.svg" alt="camunda.svg" class="skill-icon"/>
      <img src="assets/icons/comp/confluence.svg" alt="confluence.svg" class="skill-icon"/>
      <img src="assets/icons/comp/consul-color.svg" alt="consul-color.svg" class="skill-icon"/>
      <img src="assets/icons/comp/file-json-o.svg" alt="file-json-o.svg" class="skill-icon"/>
      <img src="assets/icons/comp/file-type-maven.svg" alt="file-type-maven.svg" class="skill-icon"/>
      <img src="assets/icons/comp/fortify.svg" alt="fortify.svg" class="skill-icon"/>
      <img src="assets/icons/comp/github.svg" alt="github.svg" class="skill-icon"/>
      <img src="assets/icons/comp/intellij-idea.svg" alt="intellij-idea.svg" class="skill-icon"/>
      <img src="assets/icons/comp/java.svg" alt="java.svg" class="skill-icon"/>
      <img src="assets/icons/comp/jenkins.svg" alt="jenkins.svg" class="skill-icon"/>
      <img src="assets/icons/comp/jira.svg" alt="jira.svg" class="skill-icon"/>
      <img src="assets/icons/comp/kafka.svg" alt="kafka.svg" class="skill-icon"/>
      <img src="assets/icons/comp/keycloak.svg" alt="keycloak.svg" class="skill-icon"/>
      <img src="assets/icons/comp/mysql-original-wordmark.svg" alt="mysql-original-wordmark.svg" class="skill-icon"/>
      <img src="assets/icons/comp/opencell.svg" alt="opencell.svg" class="skill-icon"/>
      <img src="assets/icons/comp/opensearch.svg" alt="opensearch.svg" class="skill-icon"/>
      <img src="assets/icons/comp/oracle-original.svg" alt="oracle-original.svg" class="skill-icon"/>
      <img src="assets/icons/comp/sonarqube.svg" alt="sonarqube.svg" class="skill-icon"/>
      <img src="assets/icons/comp/spring.svg" alt="spring.svg" class="skill-icon"/>
      <img src="assets/icons/comp/swagger.svg" alt="swagger.svg" class="skill-icon"/>
      <img src="assets/icons/comp/tomcat-original-wordmark.svg" alt="tomcat-original-wordmark.svg" class="skill-icon"/>
      <img src="assets/icons/comp/vault.svg" alt="vault.svg" class="skill-icon"/>
      <img src="assets/icons/comp/visual-studio-code.svg" alt="visual-studio-code.svg" class="skill-icon"/>
      <img src="assets/icons/comp/xml.svg" alt="xml.svg" class="skill-icon"/>
      <img src="assets/icons/comp/zammad.svg" alt="zammad.svg" class="skill-icon"/> 
      <img src="assets/icons/comp/eclipse.svg" alt="zammad.svg" class="skill-icon"/> 
      <img src="assets/icons/comp/gitlab.svg" alt="zammad.svg" class="skill-icon"/> 
      <img src="assets/icons/comp/postman.svg" alt="zammad.svg" class="skill-icon"/> 
      <img src="assets/icons/comp/docker.png" alt="zammad.svg" class="skill-icon"/> 
      <img src="assets/icons/comp/restapi.png" alt="zammad.svg" class="skill-icon"/> 
      <img src="assets/icons/comp/dbeaver.png" alt="zammad.svg" class="skill-icon"/> 
      <img src="assets/icons/comp/api.webp" alt="zammad.svg" class="skill-icon"/> 
      <img src="assets/icons/comp/jwt.webp" alt="zammad.svg" class="skill-icon"/> 

    </div>
  </div>
</section>



<section id="project" class="section projects-section fade-in">
  <div class="content">
    <h2 id="title">Projets et Tutoriels</h2>

    <!-- 🔷 Java / Spring -->
    <h3>Projets et exemples Java / Spring Boot / Angular </h3>
    <div class="projects-grid">
      <!-- Ajoute ici tous les <div class="project-item"> pour Spring -->
      <!-- Exemple : -->
      <div class="project-item">
        <h3>Keycloak avec Spring boot et angular</h3>
        <p>Projet permet de présenter un example comment faire lié Keycloak avec angular et spring boot pour securiser l'application </p>
        <a href="https://github.com/ghailen/springboot-angular-keycloak" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>Java stream exception handling</h3>
        <p>Un exemple de exception handling dans les stream java</p>
        <a href="https://github.com/ghailen/stream-exception-handler" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>Java dependancy injection types</h3>
        <p>Dans cette example on montre les 3 types d'injection de dependances (par setter,par property et par constructeur)</p>
        <a href="https://github.com/ghailen/dependency-injection-example" target="_blank">Voir le projet</a>
      </div>
      

      <div class="project-item">
        <h3>Stream en Java</h3>
        <p>Une application qui présente les steams en java </p>
        <a href="https://github.com/ghailen/stream-java" target="_blank">Voir le projet</a>
      </div>


      <div class="project-item">
        <h3>Spring batch</h3>
        <p>Une application qui permet de creer des jobs spring batch avec des exemples </p>
        <a href="https://github.com/ghailen/spring-tutorial/tree/spring-batch" target="_blank">Voir le projet</a>
      </div>


        <div class="project-item">
        <h3>Programmation reactive</h3>
        <p>Petit projet qui montre comment fonctionne web flux avec spring boot pour la programmation reactive</p>
        <a href="https://github.com/ghailen/reactive-programming-web-flux" target="_blank">Voir le projet</a>
      </div>



      <div class="project-item">
        <h3>Application de chat spring boot , javascript et websocket</h3>
        <p>Une petite application de chat avec websocket</p>
        <a href="https://github.com/ghailen/chat-application-with-websocket-spring-boot-javascript" target="_blank">Voir le projet</a>
      </div>
      

 <!--design pattern-->
      <div class="project-item">
        <h3>Design pattern Singleton</h3>
        <p>Projet qui montre les differents types de singleton</p>
        <a href="https://github.com/ghailen/design-pattern-singleton" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>Design pattern Proxy</h3>
        <p>Petit projet qui montre deux exemples de design pattern proxy</p>
        <a href="https://github.com/ghailen/design-pattern-proxy" target="_blank">Voir le projet</a>
      </div>


      <div class="project-item">
        <h3>Design pattern Decorateur</h3>
        <p>Petit projet qui montre un exemple de design pattern decorateur</p>
        <a href="https://github.com/ghailen/design-pattern-decorator" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>Design pattern Chaine de responsablité</h3>
        <p>Petit projet qui montre un exemple de design pattern Chaine de responsablité</p>
        <a href="https://github.com/ghailen/design-pattern-chainofresponsibility" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>Design pattern Factory</h3>
        <p>Petit projet qui montre un exemple de design pattern Factory</p>
        <a href="https://github.com/ghailen/design-pattern-factory" target="_blank">Voir le projet</a>
      </div>


<!--end design pattern-->

      <div class="project-item">
        <h3>Communication entre les composants en Angular</h3>
        <p>Un exemple pour voir comment ça se fait la communication entre les composants en angular</p>
        <a href="https://github.com/ghailen/communication-between-component-input-output" target="_blank">Voir le projet</a>
      </div>

    
      <div class="project-item">
        <h3>Lancer des scripts sql à l'aide de liquibase</h3>
        <p>Exemple comment déployer les scripts sql en production avec liquibase</p>
        <a href="https://github.com/ghailen/liquibase-project" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>OpenSearch, file beat munipulation</h3>
        <p>Projet qui montre comment creer des index et et ajouter des documents pour faciliter les recherches dans opensearch et comment utiliser file beat pour recuprer des logs et les publier dans opensearch dashboard</p>
        <a href="https://github.com/ghailen/opensearch-example" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>Microservice cloud gateway example pour la currency conversion </h3>
        <p>Exemple de projet microservice pour affichage currency , dans ce projet j'ai utilisé github action, docker, api gateway...</p>
        <a href="https://github.com/ghailen/microservice-example-cloud-gateway" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>Spring AOP</h3>
        <p>Dans ce projet il y a la partie separation par aspect avec le syntax de spring AOP</p>
        <a href="https://github.com/ghailen/spring-aop-example" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>
          Event driven architecture
          </h3>
        <p>Dans ce projet on utilise Kafka pour faire le streaming des donnes avec des exemples de producer et consumer, aussi il y a l'utilisation de spring cloud stream</p>
        <a href="https://github.com/ghailen/event-driven-architecture" target="_blank">Voir le projet</a>
      </div>

    
      <div class="project-item">
        <h3>Architecture microservice</h3>
        <p>Un example d'un ensemble des petits micro service qui se communiquent en utilisant des microservices techniques (service proxy,registration service...)</p>
        <a href="https://github.com/ghailen/architecture-micro-service-cloud-eureka" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>Portail</h3>
        <p>Un projet pour gerer des commandes , consulter l historique , les paniers , les alertes , developé en spring et angular</p>
        <a href="https://github.com/ghailen/portail/tree/master" target="_blank">Voir le projet</a>
      </div>


      <div class="project-item">
        <h3>customer billing inventory microservices with spring security jwt</h3>
        <p>les applications (services) communiquement entre eux avec OpenFeign ,les services sont enregistrés dans eureuka service , et le routage (le proxy ) est un service qui s'appelle gateway service, un serivce aussi pour la securité avec jwt ,service customer, billing et inventory exemple des apis qu'on peut l'appeler via le service proxy</p>
        <a href="https://github.com/ghailen/customer-billing-inventory-microservices-with-spring-security-jwt/tree/master" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>spring-boot secured keycloak product provider microservices avec openfeign</h3>
        <p>dans ce projet on a deux microservices : produit qui affiche la liste des produits ou bien par product id , pour les products id on affiche pour chacune le provider qui est géré dans un autre microservice provider qui affiche la liste des providers ou les providers par providerId , 
          la communication entre les microservices est faite via openfeign et sécurisé via keycloak </p>
        <a href="https://github.com/ghailen/spring-boot-secured-keycloak-product-provider-microservices--openfeign" target="_blank">Voir le projet</a>
      </div>


      <div class="project-item">
        <h3>Exception handler rest api</h3>
        <p>dans ce projet on va ajouter un exception handling pour tous les apis </p>
        <a href="https://github.com/ghailen/Exception-handler-rest-api" target="_blank">Voir le projet</a>
      </div>


      <div class="project-item">
        <h3>Caching system with ehcache spring-boot</h3>
        <p>Example pour faire le caching dans un projet spring en utilisant ehcache </p>
        <a href="https://github.com/ghailen/caching-system-with-ehcache-spring-boot" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>Caching system with ehcache spring-boot</h3>
        <p>Example pour faire le caching dans un projet spring en utilisant ehcache </p>
        <a href="https://github.com/ghailen/caching-system-with-ehcache-spring-boot" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>consul vault connection spring-boot</h3>
        <p>Example d'integration vault dans un projet spring boot </p>
        <a href="https://github.com/ghailen/consul-vault-connection-spring-boot" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>consul vault connection spring-boot</h3>
        <p>Example d'integration vault dans un projet spring boot </p>
        <a href="https://github.com/ghailen/consul-vault-connection-spring-boot" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>Java profile management example with spring</h3>
        <p>Example pour le profiling dans java spring</p>
        <a href="https://github.com/ghailen/java-profiles-management" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>Java profile management example with spring</h3>
        <p>Example pour le profiling dans java spring</p>
        <a href="https://github.com/ghailen/java-profiles-management" target="_blank">Voir le projet</a>
      </div>

      <div class="project-item">
        <h3>Swagger avec spring boot</h3>
        <p>Example de configuration swagger avec spring boot</p>
        <a href="https://github.com/ghailen/spring-boot-swagger" target="_blank">Voir le projet</a>
      </div>


  <div class="project-item">
        <h3>Ajout produit angular multi component</h3>
        <p>Exemple projet angular ajout d'un projet</p>
        <a href="https://github.com/ghailen/angular-product-app-multiple-component/tree/main/src" target="_blank">Voir le projet</a>
      </div>

      <!-- ... (insère ici tous les projets Java Spring que tu m’as fournis) -->
    </div>

    <!-- 🟣 Projets Camunda -->
    <h3>Projets Camunda</h3>
    <div class="projects-grid">
      <!-- Ajoute ici tous les <div class="project-item"> pour Camunda -->
        <div class="project-item">
          <h3>Dockerize camunda springboot application</h3>
          <p>Dockerizer l'application camunda springboot</p>
          <a href="https://github.com/ghailen/camunda-springboot-docker" target="_blank">Voir le projet</a>
        </div>
        <div class="project-item">
          <h3>Camunda avec un projet spring</h3>
          <p>Intégration Camunda avec un projet spring</p>
          <a href="https://github.com/ghailen/camunda-spring-project-example" target="_blank">Voir le projet</a>
        </div>
  
        <div class="project-item">
          <h3>Camunda avec un projet spring boot</h3>
          <p>Intégration Camunda avec un projet spring boot</p>
          <a href="https://github.com/ghailen/camunda-with-spring-boot-example" target="_blank">Voir le projet</a>
        </div>
  
        
        <div class="project-item">
          <h3>Camunda with external script task</h3>
          <p>Projet qui montre comment utiliser external script task </p>
          <a href="https://github.com/ghailen/camunda_script_tast_external" target="_blank">Voir le projet</a>
        </div>
  
        <div class="project-item">
          <h3>Camunda-muti-instance-task</h3>
          <p>Projet qui montre comment travailler avec camunda multi instance task </p>
          <a href="https://github.com/ghailen/camunda-muti-instance-task" target="_blank">Voir le projet</a>
        </div>
  
        <div class="project-item">
          <h3>Camunda event listener</h3>
          <p>Projet qui montre comment travailler avec les events listener de camunda </p>
          <a href="https://github.com/ghailen/execution-event-listener-camunda" target="_blank">Voir le projet</a>
        </div>
  
        <div class="project-item">
          <h3>
            Camunda rest api wrapper
            </h3>
          <p>Projet qui montre comment utiliser les apis rest comment wrapper pour manipuler le process engine camunda</p>
          <a href="https://github.com/ghailen/camunda-rest-api-wrapper" target="_blank">Voir le projet</a>
        </div>
        
      <div class="project-item">
        <h3>Camunda Notification</h3>
        <p>Projet permet d'envoyer de visualiser les instances,les tasks et l'historique des processus Camunda à partir d'une interface angular </p>
        <a href="https://github.com/ghailen/camunda-Notification" target="_blank">Voir le Projet Angular</a>
        <br>
        <a href="https://github.com/ghailen/camunda-notification-with-camunda-bpm-reactor-websocket/tree/master" target="_blank">Voir le projet Spring</a>       
      </div>

      

      <div class="project-item">
        <h3>Camunda generic task</h3>
        <p>Un projet qui permet d'afficher et de gerer dans une application angular, les instances ,variables d'une façon générique des process Camunda </p>
        <a href="https://github.com/ghailen/camunda-generic-task" target="_blank">Voir le projet</a>
      </div>

      <!-- ... (insère ici tous les projets Camunda que tu veux regrouper) -->
    </div>

        <!-- 📰 Tutoriels Reseau -->
        <h3>Tutoriels Reseau</h3>
        <div class="projects-grid">
          <div class="project-item">
            <h3>
             Asterisk VOIP
              </h3>
            <p>Prendre en charge le traci voip dans un reseau local d'entreprise</p>
            <a href="https://github.com/ghailen/ASTERISK-VOIP/blob/master/ASTERISK%20-%20PRENDRE%20EN%20CHARGE%20LE%20TRAFIC%20VOIP%20DANS%20UN%20RESEAU%20LOCAL%20D'ENTREPRISE.mp4" target="_blank">Voir le projet</a>
          </div>
    
          <!-- ... Ajoute ici tous les articles Medium -->
        </div>

        
 <!-- 📰 Tutoriels Medium -->
<h3>Tutoriels Medium</h3>
<div class="projects-grid">

  <div class="project-item">
    <h3>Faciliter le deploiment des scripts sql en production</h3>
    <a href="https://medium.com/@ghailenemark/learn-how-to-use-liquibase-for-easy-deployment-of-sql-in-production-37e0be4fb014" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Visualiser des logs avec Filebeat & OpenSearch</h3>
    <a href="https://medium.com/@ghailenemark/visualize-multiple-log-files-content-in-opensearch-using-filebeat-0008369504e5" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Dockeriser une application camunda springboot</h3>
    <a href="https://medium.com/@ghailenemark/dockerize-camunda-7-spring-boot-6b61b9467481" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Utiliser camunda avec docker</h3>
    <a href="https://medium.com/@ghailenemark/use-camunda-7-with-docker-dff803037b40" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Camunda Task Events Notifier</h3>
    <a href="https://medium.com/@ghailenemark/camunda-task-events-notifier-3f3c3c825556" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Camunda Generic User Task</h3>
    <a href="https://medium.com/@ghailenemark/camunda-generic-user-task-c2071c56e755" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Listener in Camunda</h3>
    <a href="https://medium.com/@ghailenemark/listener-in-camunda-e44c89930d8" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Task Marker Multi-Instance</h3>
    <a href="https://medium.com/@ghailenemark/task-marker-multi-instance-869872bde60" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Task Marker Loop</h3>
    <a href="https://medium.com/@ghailenemark/task-marker-loop-in-camunda-e6bbca5e05f4" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>FEEL Language in Camunda</h3>
    <a href="https://medium.com/@ghailenemark/feel-language-camunda-61532b9e7402" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>How to Work with DMN</h3>
    <a href="https://medium.com/@ghailenemark/how-to-work-with-dmn-d73d535f7f66" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Embedded Task Form</h3>
    <a href="https://medium.com/@ghailenemark/how-to-use-embedded-task-form-in-camunda-1f672ec47499" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>All About Camunda Database</h3>
    <a href="https://medium.com/@ghailenemark/all-about-camunda-database-82604b561d84" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Error Handling in Camunda</h3>
    <a href="https://medium.com/@ghailenemark/error-handling-in-camunda-412cbf41fac8" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Sub-process in Camunda</h3>
    <a href="https://medium.com/@ghailenemark/sub-process-in-camunda-ffc9c78bf5f3" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Participant in Camunda</h3>
    <a href="https://medium.com/@ghailenemark/participant-in-camunda-b39ce6629af6" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Gateways in Camunda</h3>
    <a href="https://medium.com/@ghailenemark/gateways-in-camunda-d5cf9eeb3db5" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Camunda with Spring Boot</h3>
    <a href="https://medium.com/@ghailenemark/camunda-with-spring-boot-example-e8277f17d7bf" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Task in Camunda</h3>
    <a href="https://medium.com/@ghailenemark/task-in-camunda-44a617fc21cc" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Events in Camunda</h3>
    <a href="https://medium.com/@ghailenemark/events-in-camunda-eb9050f5213e" target="_blank">Lire sur Medium</a>
  </div>

  <div class="project-item">
    <h3>Naming Convention in Camunda</h3>
    <a href="https://medium.com/@ghailenemark/naming-convention-in-camunda-8337029c8022" target="_blank">Lire sur Medium</a>
  </div>

</div>


  </div>
</section>





<section id="contact" class="section contact-section fade-in">
  <div class="content">
    <h2 id="title">Contactez-moi</h2>

    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="contact-form">
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" id="name" name="name" ngModel required placeholder="Votre nom" />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel required placeholder="Votre adresse email" />
      </div>

      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" name="message" ngModel rows="5" required placeholder="Votre message..."></textarea>
      </div>

      <button type="submit" [disabled]="!contactForm.valid">Envoyer</button>
    </form>
  </div>
</section>


  <button class="scroll-top" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });" title="Scroll to top">↑</button>
</main>
